<div id="<%= dom_id clique %>">
  <% if action_name != "show" %>
    <%= link_to clique do %>
    <div class="mt-4 ml-5 mr-5">
      <h2 class="text-3xl"><%= clique.title%></h1>
      <div class="mt-2"></div>
      <h4 class="text-1xl"><%= clique.description %></h4>
    </div>
    <% end %>
    <hr class="mt-6">
  <% end %>
</div>
